* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  background-image: url("/static/img/pattern.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
}
#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: inherit;
    text-decoration: none;
    transition: 0.3s
  }
}

// Fixes
.v--modal {
  margin: 20px !important;
}