* {
  box-sizing: border-box !important;
}

// Fix modal top position error
.v--modal-overlay .v--modal-background-click {
  height: auto !important;
}

body {
  margin: 0;
  min-width: 320px;
  background-image: url("../img/pattern.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
}
#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: inherit;
    text-decoration: none;
    transition: 0.3s
  }
}

@media (max-width: 425px) {
  .v--modal {
    margin: 0;
  }
  .modal {
    margin: 10px;
  }
}

@media (min-width: 426px) {
  .v--modal-background-click {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .v--modal {
    margin: 30px;
    max-width: 1024px !important;
  }
  .modal {
    margin: 20px;
  }
}